:root{
    --clr-dark: #090622;
    --clr-light: white;
    --clr-color1: red; 
    --clr-color2: blue;
    
}

.links{
    display: flex;
    justify-content: center;

}

#Drawing{
    width: 500px;
    height: 60hv;
    border-radius: 50%;
    
}