:root{
    --clr-dark: #090622;
    --clr-light: white;
    --clr-color1: red; 
    --clr-color2: rgb(9, 9, 47);
    
}

.navbar{
    background: var(--clr-color2);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 950;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.links{
    display: flex;
    position: relative;
    left: 100%;
    list-style: none;
    text-align: center;
}

.navbarlinks{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

#Drawing{
    width: 500px;
    height: 60hv;
    border-radius: 50%;
    
}